{% extends "base.html" %}

{% block main %}
{% include 'flash_messages.html' %}
    <div class="row mt-3">
        <div class="col">
            <h1>Hello there!</h1>
            <p class="lead">This is my project 1. You can add a profile by going to the profile tab. 
            You are also able to view all profiles created by going to the profiles tab</p>
            <br>
            <br>
            <p>I didn't make an about page, but you can contact me on my GitHub @gill876</p>
        </div>
    </div>
{% endblock %}